<html>
<head>
	<title> Twitter Hands </title>

	<!-- Meta -->

	<link rel="stylesheet" type="text/css" href="/resources/css/filtwitter.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/slick.css">
	<script type="text/javascript" src="/resources/js/twitter-text.js"></script>
</head>
<body>

	<div class="content">

		<div class="bloc-media">

			<div class="slickyy slicky-media">
				<% listeTweets.forEach(function(tweet, index){ %>
					<% if(tweet.extended_entities || tweet.entities.media) { %>
					<div class="media-twitter">
						<%
							if(tweet.extended_entities){
								if(tweet.extended_entities.media[0].type == 'animated_gif')
									{
									%>
									<video 
									width="<%= tweet.extended_entities.media[0].sizes.medium.w %>" 
									height="<%= tweet.extended_entities.media[0].sizes.medium.h %>" loop 
									style="margin-left: -<%= (tweet.extended_entities.media[0].sizes.medium.w / 2) + "px" %>;
										margin-top: -<%= (tweet.extended_entities.media[0].sizes.medium.h / 2) + "px" %>;"
									poster="<%= tweet.extended_entities.media[0].media_url %>">
									  <source src="<%= tweet.extended_entities.media[0].video_info.variants[0].url %>" type="video/mp4">
									</video>
									<%
									}
								else
									{
						%>
									<img src="<%= tweet.extended_entities.media[0].media_url %>"
									width="<%= tweet.extended_entities.media[0].sizes.medium.w + "px" %>" 
									height="<%= tweet.extended_entities.media[0].sizes.medium.h + "px" %>"
									style="margin-left: -<%= (tweet.extended_entities.media[0].sizes.medium.w / 2) + "px" %>;
										margin-top: -<%= (tweet.extended_entities.media[0].sizes.medium.h / 2) + "px" %>;" 
									/>
								<% } %>
						<% }
							else if(tweet.entities.media)
							{
						%>
						<img src="<%= tweet.entities.media[0].media_url %>" 
						width="<%= tweet.entities.media[0].sizes.medium.w %>" 
						height="<%= tweet.entities.media[0].sizes.medium.h %>"
						/>
						<%
							}
						%>
					</div>
					<% } %>
				<% }); %>
			</div>

		</div>

		<div class="bloc-text">

			<div class="text-head">
				<p class="arts"> Arts & Métiers </p>
				<p class="grandopening"> GRAND OPENING </p>
			</div>

			<div class="slickyy slicky-text">
				<% listeTweets.forEach(function(tweet, index){ %>
					<% if(tweet.extended_entities || tweet.entities.media) { %>
					<div class="bloc-tweet">
						<div class="text-twitter">
							<p class="text">
								<%= tweet.text %>
							</p>
							<!-- <p class="author">
								<a href="<%= tweet.user.url %>" target="_blank"><%= tweet.user.name %></a>
							</p> -->
						</div>
					</div>
					<% } %>
				<% }); %>
			</div>

			<div class="text-footer">
				<p class="shake"> SHAKE </p>
				<p> <img src=""> </p>
			</div>

		</div>
	</div>


	<!-- JS -->
	<script src="/socket.io/socket.io.js"></script>

	<script type="text/javascript" src="/resources/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/resources/js/slick.min.js"></script>
	<script type="text/javascript" src="/resources/js/filtwitter.js"></script>

</body>
</html>