<html>
<head>
	<title> Twitter Hands </title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/resources/css/filtwitter.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/slick.css">
	<script type="text/javascript" src="/resources/js/twitter-text.js"></script>
</head>
<body>
	<div class="content">
		<div class="bloc-media">
			<div class="slickyy slicky-media">
				<% listeTweets.forEach(function(tweet, index){ %>
					<% if(tweet.extended_entities || tweet.entities.media) { %>
					<div class="media-twitter">
						<% if(tweet.extended_entities){
							if((tweet.extended_entities.media[0].sizes.medium.w / tweet.extended_entities.media[0].sizes.medium.h) < 1)
							{
								var sizeX = '60';
								var sizeY = '80';
							}
							else
							{
								var sizeX = '80';
								var sizeY = '60';
							}
								if(tweet.extended_entities.media[0].type == "animated_gif") { %>
									<video width="<%= sizeX + "%" %>  " height="<%= sizeY + "%" %>" loop style="margin-left: -<%= (sizeX / 2) + "%" %>; margin-top: -<%= (sizeY / 2) + "%" %>;" poster="<%= tweet.extended_entities.media[0].media_url %>">
									  <source src="<%= tweet.extended_entities.media[0].video_info.variants[0].url %>" type="video/mp4">
									</video>
									<% } else { %>
									<img src="<%= tweet.extended_entities.media[0].media_url %>" width="<%= sizeX + "%" %>" height="<%= sizeY + "%" %>" style="margin-left: -<%= (sizeX / 2) + "%" %>; margin-top: -<%= (sizeY / 2) + "%" %>;" />
								<% } %>
						<% }else if(tweet.entities.media){ %>
							<% if((tweet.entities.media[0].sizes.medium.w / tweet.entities.media[0].sizes.medium.h) < 1)
									{
										var sizeX = '60';
										var sizeY = '80';
									}
									else
									{
										var sizeX = '80';
										var sizeY = '60';
									}
							%>
						<img src="<%= tweet.entities.media[0].media_url %>" width="<%= sizeX + "%" %>" height="<%= sizeY + "%" %>" style="margin-left: -<%= (sizeX / 2) + "%" %>; margin-top: -<%= (sizeY / 2) + "%" %>;" 
						/>
						<% } %>
					</div>
					<% } %>
				<% }); %>
			</div>
		</div>
		<div class="bloc-text">
			<div class="text-head">
				<p class="arts"> Arts & Métiers </p>
				<p class="grandopening"> GRAND OPENING </p>
			</div>
			<div class="slickyy slicky-text">
				<% listeTweets.forEach(function(tweet, index){ %>
					<% if(tweet.extended_entities || tweet.entities.media) { %>
					<div class="bloc-tweet"><div class="text-twitter"><p class="text"><%= tweet.text %></p></div></div>
					<% } %>
				<% }); %>
			</div>

			<div class="text-footer">
				<p> <img src="/resources/img/shakehands2.png"> </p>
			</div>
		</div>
	</div>


	<!-- JS -->
	<script src="/socket.io/socket.io.js"></script>

	<script type="text/javascript" src="/resources/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/resources/js/slick.min.js"></script>
	<script type="text/javascript" src="/resources/js/filtwitter.js"></script>

</body>
</html>