html, body 
{
    height:100%;
    width: 100%;
}
header, section, footer, aside, nav, article, figure
{
  display: block;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font:inherit;
  vertical-align: baseline;
}

ul, ol
{
	list-style-type:none;
}

fieldset
{
	margin:0;
	padding:0;
	border:0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
{
  display: block;
}

table
{ border-collapse: collapse; border-spacing: 0; }
pre, code, kbd, samp
{ font-family: 'monaco', monospace, sans-serif; }

button
{  width: auto; overflow: visible; }
.ie7 img
{ -ms-interpolation-mode: bicubic; }

/* playfair */
@font-face {
    font-family: 'playfair';
    src: url('/resources/font/playfair/playfairdisplay-italic-webfont.eot');
    src: url('/resources/font/playfair/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/font/playfair/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('/resources/font/playfair/playfairdisplay-italic-webfont.woff') format('woff'),
         url('/resources/font/playfair/playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('/resources/font/playfair/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'playfair';
    src: url('/resources/font/playfair/playfairdisplay-regular-webfont.eot');
    src: url('/resources/font/playfair/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/font/playfair/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('/resources/font/playfair/playfairdisplay-regular-webfont.woff') format('woff'),
         url('/resources/font/playfair/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('/resources/font/playfair/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'playfair';
    src: url('/resources/font/playfair/playfairdisplay-bold-webfont.eot');
    src: url('/resources/font/playfair/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/font/playfair/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('/resources/font/playfair/playfairdisplay-bold-webfont.woff') format('woff'),
         url('/resources/font/playfair/playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('/resources/font/playfair/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: 700;
    font-style: normal;
}

/* Montserrat */
@font-face {
    font-family: 'montserrat';
    src: url('/resources/font/montserrat/montserrat-black-webfont.eot');
    src: url('/resources/font/montserrat/montserrat-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/font/montserrat/montserrat-black-webfont.woff2') format('woff2'),
         url('/resources/font/montserrat/montserrat-black-webfont.woff') format('woff'),
         url('/resources/font/montserrat/montserrat-black-webfont.ttf') format('truetype'),
         url('/resources/font/montserrat/montserrat-black-webfont.svg#montserratblack') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('/resources/font/montserrat/montserrat-light-webfont.eot');
    src: url('/resources/font/montserrat/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/font/montserrat/montserrat-light-webfont.woff2') format('woff2'),
         url('/resources/font/montserrat/montserrat-light-webfont.woff') format('woff'),
         url('/resources/font/montserrat/montserrat-light-webfont.ttf') format('truetype'),
         url('/resources/font/montserrat/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src:   url('/resources/font/montserrat/Montserrat-UltraLight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


/* Div content */
.content
{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Hands Presentation */
.bloc-media, .bloc-text
{
  width: 49.8%;
  height: 100% !important;
  display: inline-block;
}

.media-twitter
{
  position: relative;
  background-color: #eeeeee;
}

.media-twitter img, .media-twitter video
{
  position: absolute;
  top: 50%;
  left: 50%;
}


.bloc-text
{
  background-color: #222;
  position: relative;
}

.bloc-text .text-head
{
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
}
.bloc-text .text-head p.arts
{
  font-family: playfair;
  font-weight: 400;
  font-style: italic;
  font-size: 25px;
  line-height: 30px;
  color: #0492ce;
  text-align: center;
}
.bloc-text .text-head p.grandopening
{
  font-family: montserrat;
  font-weight: 800;
  font-size: 30px;
  line-height: 35px;
  color: #eeeeee;
  text-align: center;
}

.bloc-text .text-footer
{
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}

.bloc-text .text-footer p.shake
{
  font-family: montserrat;
  font-weight: 800;
  font-size: 30px;
  line-height: 25px;
  color: #0492ce;
  text-align: center;
}

.bloc-text .text-footer p.hands img
{
  text-align: center;
}

.bloc-text .slicky-text p.text
{
  font-family: montserrat;
  font-weight: 100;
  font-size: 36px;
  line-height: 40px;
  color: #eeeeee;
  text-align: center;
}

.bloc-text .slicky-text p.text a, .bloc-text .slicky-text p.author a
{
  font-family: montserrat;
  font-weight: 200;
  text-decoration: none;
  color: #009ee0;
}

.bloc-text .bloc-tweet
{
  position: relative;
 
}

.bloc-text .bloc-tweet .text-twitter
{
  position: absolute;
  width: 100%;
  top: 45%;
  left: 0;
  word-wrap: break-word;
  padding-left: 5px;
}

.slick-slider .slick-track, .slick-slider .slick-list {
    height: 100% !important;
}